* {
    margin: 4px;
  
  }
  .header{
      text-align: center;
      color: #ffd600;
      text-shadow: 2px 2px rgb(0, 0, 0);
      margin-bottom:50px; 
      font-size: 35px;
      
      
  }
  .h1{
    
    text-align: center;
    color: #ffd600;
    text-shadow: 2px 2px rgb(0, 0, 0); 
    font-size: 35px;
    margin-bottom: 50px;
    


}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #727b83 ;
  overflow: hidden;
  border-radius: .25em;
  

}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

 
  .pokemons-painel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  
  }

  .header__logo {
    line-height: 0;
    padding: 0px;
    width: 150px;


}

.pokemon-item{
  list-style: none;
  border: 2px solid #425F47;
  border-radius: 10px; 
  align-items: center;
  text-align: center;  
  background-image: url(img/fundo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  }

.container-pokemons-painel{

  padding-inline-start: 0;
  background-color: transparent;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  height: 70vh;
  width: 50vw;
  overflow: auto;
 
    
   }
  

  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  


  .topnav .icon {
    display: none;
  }
  

  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
   
    }
    .header{
      text-align: center;
      color: #ffd600;
      text-shadow: 2px 2px rgb(0, 0, 0);
      margin-bottom:50px; 
      font-size: 35px;
       
  }
    
  body {
    background-size: 100%;
    background-image: url("pokemon-img.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    
 
    
  }
  .header__logo {  
    width: 200px;
    margin-left: 17%;  
  }
  }


  @media only screen and (min-width: 320px) {

    
    .container-pokemons-painel{
      padding-inline-start: 0;
      background-color:transparent;
      grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
      height: 70vh;
      width: 50vw;
      overflow: auto;
      margin:10px 100px 50px 25%;
        
       }
         
    body {
      
      background-size: cover;
      background-image: url("pokemon-img.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      
   
      
    }
      
       .pokemons-painel {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
        
         
        
       }
  
    .menu{
      float: left;
      box-sizing: inherit;
      margin: 10px;
      width: 250px;
      height: 30px;
   
    }
  /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 ;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    background: #acd6ff ;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
    .header{
      text-align: center;
      color: #ffd600;
      text-shadow: 2px 2px rgb(0, 0, 0); 
      font-size: 35px;
      

  
  }
  .header__logo {
    width: 200px;

  }
  
  .pokemon-item{
  list-style: none;
  border: 2px solid #425F47;
  border-radius: 10px; 
  align-items: center;
  text-align: center;  
  background-image: url(img/fundo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  }
  .h1{
    
      text-align: center;
      color: #ffd600;
      text-shadow: 2px 2px rgb(0, 0, 0); 
      font-size: 35px;
      
  
  
  }
    }
    aside{
  
      width: 20%;
      display: flex;
      float: right;
      padding-left: 20px;
       
    }
     aside, section{
      margin-top: 0px;
     
      
    } 
    .aside-select{
      position: relative;
      width: 16em;
      height: 3em;
      line-height: 3;
      background: #acd6ff ;
      overflow: hidden;
      border-radius: .25em;
      }
    
    
    textarea {
      font-size: .8rem;
      letter-spacing: 1px;
    }
    textarea {
      position: relative;
      display: flex;
      width: 20em;
      height: 3em;
      line-height: 3;
      background: #acd6ff ;
      overflow: hidden;
      border-radius: .25em;
      box-shadow: 1px 1px 1px #999;
    }
    h2 {
      text-align: left;
      font-size: 1.5em;
      color: #ffd600;
      text-shadow: 1px 1px rgba(0,0,0); 
    
    }
    
    @media screen and (max-width: 600px)  {
      aside{
        clear:both;
      }
      aside{ 
       
        display: flex;
        bottom: 0;
        width: 100%;
           
       }
       aside section {  
        margin: 0 auto;
        text-align: center; 
        padding-bottom: 2em;
      }  
      textarea{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h2{
        text-align: center; 
      }
    }