* {
    margin: 3px;
  
  }
  .header{
      text-align: center;
      color: #ffd600;
      text-shadow: 2px 2px rgb(0, 0, 0);
      margin-bottom:50px; 
      font-size: 35px;
  }
  
  body {
    background-size: 100% 100%;
    background-image: url("pokemon-img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
 
    
  }


  .menu{
    margin: 10px;
    width: 250px; 
    height:30px;
    border:1px solid #ddd;  
    display: inline-block;  
    box-sizing: inherit;
 
  }
  
  .container-pokemons-painel{
 padding-inline-start: 0;
 background-color: rgb(240, 103, 85);
 grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
 height: 70vh;
 width: 50vw;
 overflow: auto;

   
  }
 
  .pokemons-painel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  
  }

.header__logo {
    line-height: 0;
    padding: 10px;
    width: 150px;
    justify-content: center;
}

.pokemon-item{
list-style: none;
padding: 40px;
background-color:#7ba2eb;
color: black;
}


  
  @media only screen and (min-width: 320px) {
  .container-pokemons-painel{
    padding-inline-start: 0;
    background-color: rgb(240, 103, 85);
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    height: 70vh;
    width: 50vw;
    overflow: auto;
    margin:10px 100px 50px 25%;
      
     }
    
     .pokemons-painel {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       text-align: center;
       
      
     }

  .menu{
    float: left;
    border:1px solid #ddd;  
    display: block;  
    box-sizing: inherit;
 
  }

  .header{
    text-align: center;
    color: #ffd600;
    text-shadow: 2px 2px rgb(0, 0, 0); 
    font-size: 35px;
    margin-top:0; 

}
.header__logo {
  line-height: 0;
  padding: 10px;
  width: 150px;
  justify-content: center;
}

.pokemon-item{
list-style: none;
padding: 40px;
background-color:#7ba2eb;
color: black;
}

.h1{
  
    text-align: center;
    color: #ffd600;
    text-shadow: 2px 2px rgb(0, 0, 0); 
    font-size: 35px;
    margin-top:0; 


}
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }